# Import Modules

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Forest

## Convert Excel Sheet to a Single Excel##

In [2]:
excel_data=pd.ExcelFile("C:/Users/Admin/OneDrive/Desktop/Final/DS_Bird Species Observation Analysis in Forest and Grassland/Bird_Monitoring_Data_FOREST.XLSX")
sheet_names=excel_data.sheet_names
sheets_dict={sheet :excel_data.parse(sheet) for sheet in sheet_names}

combine_df=pd.concat(
    [df.assign(sheet=sheet_name) for sheet_name,df in sheets_dict.items()],
    ignore_index=True
)

df = combine_df.drop(columns=['sheet'])

## Handling Missing data ##

In [3]:
#Droping The Values,Column
df.drop(columns=['Sub_Unit_Code'],inplace=True)
df.dropna(subset=["AcceptedTSN"],inplace=True)
#Imputing The Data
distance_data=df['Distance'].mode()[0]
df['Distance'].fillna(distance_data,inplace=True)
mode_value = df['Sex'].mode()[0]  
df['Sex'].fillna(mode_value,inplace=True)
df['ID_Method'].fillna('Singing',inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_6780\597328377.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Distance'].fillna(distance_data,inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6780\597328377.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sex'].fillna(mode_value,inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6780\597328377.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ID_Method'].fillna('Singing',inplace=True)

In [4]:
df.to_csv("forest.csv",index=False)
Forest=pd.read_csv("C:/Users/Admin/OneDrive/Desktop/Final/DS_Bird Species Observation Analysis in Forest and Grassland/forest.csv")
Forest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8537 entries, 0 to 8536
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Admin_Unit_Code              8537 non-null   object
 1   Site_Name                    8537 non-null   object
 2   Plot_Name                    8537 non-null   object
 3   Location_Type                8537 non-null   object
 4   Year                         8537 non-null   int64
 5   Date                         8537 non-null   object
 6   Start_Time                   8537 non-null   object
 7   End_Time                     8537 non-null   object
 8   Observer                     8537 non-null   object
 9   Visit                        8537 non-null   int64
 10  Interval_Length              8537 non-null   object
 11  ID_Method                    8537 non-null   object
 12  Distance                     8537 non-null   object
 13  Flyover_Observed             8537 non-null   bool
 14  Sex                          8537 non-null   object
 15  Common_Name                  8537 non-null   object
 16  Scientific_Name              8537 non-null   object
 17  AcceptedTSN                  8537 non-null   float64
 18  NPSTaxonCode                 8537 non-null   int64
 19  AOU_Code                     8537 non-null   object
 20  PIF_Watchlist_Status         8537 non-null   bool
 21  Regional_Stewardship_Status  8537 non-null   bool
 22  Temperature                  8537 non-null   float64
 23  Humidity                     8537 non-null   float64
 24  Sky                          8537 non-null   object
 25  Wind                         8537 non-null   object
 26  Disturbance                  8537 non-null   object
 27  Initial_Three_Min_Cnt        8537 non-null   bool
dtypes: bool(4), float64(3), int64(3), object(18)
memory usage: 1.6+ MB

# Grass Land

In [ ]:
## Convert Excel Sheet to a Single Excel##

In [5]:
excel_data=pd.ExcelFile("C:/Users/Admin/OneDrive/Desktop/Final/DS_Bird Species Observation Analysis in Forest and Grassland/Bird_Monitoring_Data_GRASSLAND.XLSX")
sheet_names=excel_data.sheet_names
sheets_dict={sheet :excel_data.parse(sheet) for sheet in sheet_names}

combine_df=pd.concat(
    [df.assign(sheet=sheet_name) for sheet_name,df in sheets_dict.items()],
    ignore_index=True
)

df = combine_df.drop(columns=['sheet'])
df.duplicated().sum()

C:\Users\Admin\AppData\Local\Temp\ipykernel_6780\3047427389.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combine_df=pd.concat(

np.int64(1705)

In [6]:
#Droping The Values,Column
df.drop(columns=['Sub_Unit_Code'],inplace=True)
df.dropna(subset=['ID_Method'],inplace=True)
#Imputing The Data
distance_data=df['Distance'].mode()[0]
df['Distance'].fillna(distance_data,inplace=True)
df['AcceptedTSN'].fillna(df['AcceptedTSN'].mode()[0],inplace=True)
Taxon=df['TaxonCode'].mode()[0]
df['TaxonCode'].fillna(Taxon,inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_6780\1494111822.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Distance'].fillna(distance_data,inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6780\1494111822.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['AcceptedTSN'].fillna(df['AcceptedTSN'].mode()[0],inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6780\1494111822.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TaxonCode'].fillna(Taxon,inplace=True)

In [7]:
df.isnull().sum()

Admin_Unit_Code                0
Plot_Name                      0
Location_Type                  0
Year                           0
Date                           0
Start_Time                     0
End_Time                       0
Observer                       0
Visit                          0
Interval_Length                0
ID_Method                      0
Distance                       0
Flyover_Observed               0
Sex                            0
Common_Name                    0
Scientific_Name                0
AcceptedTSN                    0
TaxonCode                      0
AOU_Code                       0
PIF_Watchlist_Status           0
Regional_Stewardship_Status    0
Temperature                    0
Humidity                       0
Sky                            0
Wind                           0
Disturbance                    0
Previously_Obs                 0
Initial_Three_Min_Cnt          0
dtype: int64

In [8]:
df.duplicated().sum()

np.int64(1705)

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
df.to_csv('Grass_Land.csv',index=False)
Grass=pd.read_csv("C:/Users/Admin/OneDrive/Desktop/Final/DS_Bird Species Observation Analysis in Forest and Grassland/Grass_Land.csv")

In [12]:
Grass.nunique()

Admin_Unit_Code                  4
Plot_Name                      201
Location_Type                    1
Year                             1
Date                            26
Start_Time                     273
End_Time                       276
Observer                         3
Visit                            3
Interval_Length                  4
ID_Method                        3
Distance                         2
Flyover_Observed                 2
Sex                              3
Common_Name                    107
Scientific_Name                107
AcceptedTSN                    106
TaxonCode                      105
AOU_Code                       107
PIF_Watchlist_Status             2
Regional_Stewardship_Status      2
Temperature                    188
Humidity                       325
Sky                              5
Wind                             4
Disturbance                      4
Previously_Obs                   1
Initial_Three_Min_Cnt            2
dtype: int64

In [13]:
Forest.nunique()

Admin_Unit_Code                 11
Site_Name                       70
Plot_Name                      408
Location_Type                    1
Year                             1
Date                            57
Start_Time                     282
End_Time                       283
Observer                         3
Visit                            2
Interval_Length                  4
ID_Method                        3
Distance                         2
Flyover_Observed                 2
Sex                              2
Common_Name                    107
Scientific_Name                107
AcceptedTSN                    107
NPSTaxonCode                   107
AOU_Code                       107
PIF_Watchlist_Status             2
Regional_Stewardship_Status      2
Temperature                    160
Humidity                       302
Sky                              5
Wind                             4
Disturbance                      4
Initial_Three_Min_Cnt            2
dtype: int64